.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.no-horarios-day {
  background-color: #ffcccc !important;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #999;
}
