.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.no-horarios-day {
  position: relative;
}

.no-horarios-day::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}